{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signUp</title>
    <style>
        .success {
            color: red;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="login">
            <div class="row">
                <h2>Sign Up</h2>
                <div class="col-md-12">
                    <form action="" method="POST" novalidate class="form">
                        <p>
                            Password reset sent
                            We’ve emailed you instructions for setting your password, if an account exists with the
                            email you entered. You should receive them shortly.

                            If you don’t receive an email, please make sure you’ve entered the address you registered
                            with, and check your spam folder.
                        </p>
                    </form>

                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
</body>

</html>