{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signUp</title>
    <style>
        .success {
            color: red;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="login">
            <div class="row">
                <h2>Sign Up</h2>
                <div class="col-md-12">
                    <form action="" method="POST" novalidate class="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="row">
                            <div class="col-md-6" >
                                <input type="reset" id="reset" value="Reset" class="btn btn-outline-primary btn-form">
                            </div>
                            <div class="col-md-6">
                                <input type="submit" id="register" value="Signup"
                                    class="btn btn-outline-success btn-form">
                            </div>`
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
</body>

</html>