{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block content %}

<form action="" method="POST" novalidate class="form" style="background-color: azure; padding:35px">
    {% if messages%}
    {% for message in messages%}
    <small {% if message.tags %} class="{{message.tags}}" {% endif%}>
        {{message}}
    </small>
    {% endfor %}
    {% endif %}


    {% bootstrap_form form %}
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <input type="submit" id="register" value="Save" class="btn btn-outline-success btn-form">

            
        </div>
    </div>
</form>
<br>
<form action="/changePassword" method="GET" class="form" style="background-color: rgb(235, 94, 118); padding:35px">
    <input type="submit" id="changePassword" value="Change Password" class="btn btn-outline-success btn-form" style="background-color: rgb(4, 7, 7);">
</form>

{% endblock %}